body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fbf5f5;
  background: url('https://res.cloudinary.com/dwot0ad2w/image/upload/v1731173420/images1_lbfnpw.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: #222;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 5px;
}

nav a:hover {
  background-color: #444;
}

nav a.active {
  background-color: #555;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

h2 {
  color: #e0e0e0;
  font-size: 2.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(238, 234, 234, 0.723);
  background: linear-gradient(to left, #4a4a4a, #6d6d6d);
  -webkit-background-clip: text;
  color: transparent;
}

.grid-item {
  background-color: #150202;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(249, 245, 245, 0.3);
  margin-bottom: 35px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}


#contactForm input, #imageForm input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#contactForm button, #imageForm button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
}

#contactForm button:hover, #imageForm button:hover {
  background-color: #4cae4c;
}

#imagePreview button {
  background-color: #d9534f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#imagePreview button:hover {
  background-color: #c9302c;
}

.todo-section {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}